.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/img 1.jpg');
    background-size: cover;
    background-position: center;
    color: #f0e98ce8;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; 
}

.content {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    backdrop-filter: blur(5px);
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1.5s ease forwards;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.name {
    font-size: 4rem;
    margin: 0;
}

.title {
    font-size: 1.5rem;
    margin: 10px 0;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #bcae8fc9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover {
    background-color: #f0e68f;
    transform: scale(1.1);
}
@media (max-width: 768px) {
    .content {
        padding: 15px;
    }

    .name {
        font-size: 3rem;
    }

    .title {
        font-size: 1.3rem;
    }

    .button {
        padding: 10px 15px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .content {
        max-width: 90%; 
        padding: 10px;
    }

    .name {
        font-size: 2.5rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .button {
        padding: 8px 12px;
        font-size: 0.8rem;
    }
}
